In [1]:
import pandas as pd
import pymysql.cursors
import pymysql

In [2]:
# Conexión a mi base de datos
connection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='carla123',
    db='datawarehouse',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

# Consulta SQL
sql = 'SELECT * FROM chartevents'

# Creo un dataframe a partir de los datos de la tabla
chartevents= pd.read_sql(sql, connection)

# Cierro la conexión
connection.close()

#Muestro mi dataframe
chartevents.head()

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,row_id,SUBJECT_ID,HADM_ID,icustay_id,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,warning,ERROR,RESULTSTATUS,STOPPED
0,203540481,10006,142345,206504,455,2164-10-23 22:40:00,2164-10-23 22:52:00,21198,91,91.0,mmHg,2222,2222,nan,NotStopd
1,203540482,10006,142345,206504,5815,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,50,50.0,BPM,2222,2222,nan,NotStopd
2,203540483,10006,142345,206504,5817,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,90,90.0,mmHg,2222,2222,nan,NotStopd
3,203540484,10006,142345,206504,5819,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,8,8.0,BPM,2222,2222,nan,NotStopd
4,203540485,10006,142345,206504,5820,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,90,90.0,,2222,2222,nan,NotStopd

In [3]:
chartevents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758355 entries, 0 to 758354
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   row_id        758355 non-null  object
 1   SUBJECT_ID    758355 non-null  int64
 2   HADM_ID       758355 non-null  int64
 3   icustay_id    758355 non-null  int64
 4   ITEMID        758355 non-null  int64
 5   CHARTTIME     758355 non-null  datetime64[ns]
 6   STORETIME     758355 non-null  datetime64[ns]
 7   CGID          758355 non-null  int64
 8   VALUE         758355 non-null  object
 9   VALUENUM      758355 non-null  float64
 10  VALUEUOM      758355 non-null  object
 11  warning       758355 non-null  object
 12  ERROR         758355 non-null  int64
 13  RESULTSTATUS  758355 non-null  object
 14  STOPPED       758355 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(6)
memory usage: 86.8+ MB

In [4]:
chartevents.columns= chartevents.columns.str.lower()

In [5]:
chartevents.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped
0,203540481,10006,142345,206504,455,2164-10-23 22:40:00,2164-10-23 22:52:00,21198,91,91.0,mmHg,2222,2222,nan,NotStopd
1,203540482,10006,142345,206504,5815,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,50,50.0,BPM,2222,2222,nan,NotStopd
2,203540483,10006,142345,206504,5817,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,90,90.0,mmHg,2222,2222,nan,NotStopd
3,203540484,10006,142345,206504,5819,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,8,8.0,BPM,2222,2222,nan,NotStopd
4,203540485,10006,142345,206504,5820,2164-10-23 22:40:00,2164-10-23 22:50:00,19150,90,90.0,,2222,2222,nan,NotStopd

In [6]:
chartevents['itemid'].unique()

array([ 455, 5815, 5817, ..., 1803,  542,  405])

In [7]:
diccionario = pd.read_csv("dataset/D_ITEMS.csv")
diccionario.head()

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,1,1435,Sustained Nystamus,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,2,1436,Tactile Disturbances,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,3,1437,Tremor,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,4,1438,Ulnar Pulse [Right],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,5,1439,Visual Disturbances,NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [8]:
diccionario= diccionario.drop(['row_id', 'abbreviation', 'dbsource', 'linksto', 'category', 'unitname', 'param_type', 'conceptid'], axis=1)

In [9]:
chartevents = pd.merge(chartevents, diccionario, on= 'itemid')

In [10]:
chartevents.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped,label
0,203540481,10006,142345,206504,455,2164-10-23 22:40:00,2164-10-23 22:52:00,21198,91,91.0,mmHg,2222,2222,nan,NotStopd,NBP [Systolic]
1,203540488,10006,142345,206504,455,2164-10-23 23:00:00,2164-10-23 23:30:00,14387,91,91.0,mmHg,2222,2222,nan,NotStopd,NBP [Systolic]
2,203540495,10006,142345,206504,455,2164-10-24 00:00:00,2164-10-24 00:12:00,14387,111,111.0,mmHg,2222,2222,nan,NotStopd,NBP [Systolic]
3,203540500,10006,142345,206504,455,2164-10-24 01:00:00,2164-10-24 01:00:00,14387,114,114.0,mmHg,2222,2222,nan,NotStopd,NBP [Systolic]
4,203540505,10006,142345,206504,455,2164-10-24 02:00:00,2164-10-24 02:51:00,14387,117,117.0,mmHg,2222,2222,nan,NotStopd,NBP [Systolic]

In [11]:
#Creo una lista con los labs que necesito para mi modelo de ML
analisis_ml = [50821, 51265, 50885, 220052, 198, 50912, 40055, 618, 855, 220050, 211, 51, 223761, 3395, 40055, 51006, 51300, 50822, 50824, 50882, 50885]

In [12]:
# creamos un nuevo DataFrame que contenga solo las filas que contienen elementos de la lista
chartevents_ml = chartevents[chartevents['itemid'].isin(analisis_ml)]

In [13]:
chartevents_ml.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,valueuom,warning,error,resultstatus,stopped,label
32806,203546215,10011,105331,232110,51,2126-08-21 15:00:00,2126-08-21 15:00:00,21570,nan,2222.0,nan,2222,2222,nan,D/C'd,Arterial BP [Systolic]
32807,203547410,10013,165520,264446,51,2125-10-05 00:00:00,2125-10-05 01:52:00,21570,128,128.0,mmHg,2222,2222,nan,NotStopd,Arterial BP [Systolic]
32808,203547418,10013,165520,264446,51,2125-10-05 01:00:00,2125-10-05 01:52:00,21570,132,132.0,mmHg,2222,2222,nan,NotStopd,Arterial BP [Systolic]
32809,203547423,10013,165520,264446,51,2125-10-05 03:00:00,2125-10-05 04:19:00,21570,106,106.0,mmHg,2222,2222,nan,NotStopd,Arterial BP [Systolic]
32810,203547426,10013,165520,264446,51,2125-10-05 04:00:00,2125-10-05 04:19:00,21570,105,105.0,mmHg,2222,2222,nan,NotStopd,Arterial BP [Systolic]

In [16]:
chartevents_ml.to_csv('chartevents_ml.csv', index=False)